body {
	background-image: url("images/jump.jpg");
	font-family: 'Avenir Next', Avenir Next, Avenir, Verdana, Helvetica, sans-serif;
	margin: 0 auto;
	width: 100%;
}

#globalNav {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0 0 lem 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #333;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#globalNav ul {
	list-style-type: none;
	margin: 0 auto;
    padding-left: 0;
    padding-right: 80px;
    padding-bottom: 0;
}

#globalNav li {
	float: right;
}

#globalNav li a {
	display: block;
    color: #aaa;
    padding: 9px 20px;
    text-decoration: none;
}

#globalNav li a:hover {
    color: #fff;
}

#globalNav .selected li a {
	color: #fff;
	background-color: #000;
}

body .image {
	top: 40px;
	left: 0;
	right: 0;
	position: relative;
  width: 100%;
}

img {
	height: 100%;
}

h2 { 
   position: absolute; 
   bottom: 0; 
   left: 40px; 
   width: 100%; 
}

h2 span { 
   color: white;
   text-align: center; 
}
